@media (max-width:1590px){
    .header {
        background-size: 105%;
    }
}

@media (max-width:1490px){
    .header__inner {
        margin-bottom: 166px;
    }
    .header-title {
        font-size: 90px;
    }
}

@media (max-width: 1390px){
    .header {
        background-size: 110%;
    }
    .header-truck {
        width: 560px;
        height: 370.55px;
    }
    .faq__inner-img {
        padding-top: 140px;
        width: 50%;
        height: 50%;
    }
}

@media (max-width:1290px){
    .header {
        background-size: 115%;
    }

    .header-truck {
        width: 530px;
        height: 350.55px;
    }
}

@media (max-width: 1190px){
    .header {
        background-size: 120%;
    }
    .header__inner {
        margin-bottom: 100px;
    }
    .header-truck {
        width: 494px;
        height: 322.55px;
    }
    .howto__inner-img {
        margin-left: -100px;
    }
}

@media (max-width: 1160px){
    .header-top__logo {
        margin-right: 270px;
    }
}

@media (max-width:1134px){
    
    .container {
        padding-left: 30px;
    }
    .faq__questions {
        grid-template-columns: 1fr;
    }
    .header-menu__item + .header-menu__item {
        margin-left: 80px;
    }
}

@media (max-width:1090px) {
    .header {
        background-size: 125%;
    }
    .container {
        padding-left: 30px;
    }
    .header-top {
        margin-bottom: 25px;
    }
    .header-title {
        font-size: 85px;
    }
    .header-truck {
        width: 470px;
        height: 300.55px;
    }
}

@media (max-width:1080px) {
    .header-menu__item + .header-menu__item {
        margin-left: 45px;
    }
    .signup {
        background-size: 120%;
    }
}

@media (max-width: 1050px){
    .signup__form {
        width: 520px;
        height: 420px;
    }
    .signup__form label {
        padding-left: 60px;
    }

    .signup__form-input {
        margin-left: 60px;
    }
}

@media (max-width:990px){
    .header {
        background-image: none;
        background-size: auto;
        background-color: #f48767;
    }
    .header-truck {
        display: none;
    }
    .faq__inner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .faq__inner-subtitle {
        padding-top: 100px;
    }

    .signup__form {
        width: 450px;
        height: 400px;
    }
    .signup__form label {
        padding-left: 30px;
        padding-top: 40px;
    }

    .signup__form-input {
        margin-left: 30px;
    }
}

@media (max-width:970px) {
    .header-menu__list {
        display: block;
        position: absolute;
        left:0;
        right: 0;
        background-color: rgba(244, 135, 103, 0.7);
        text-align: center;
        transition: all 0.7s;
        transform: translateY(-300%);
    }
    .header-menu__list.header-menu__list--active{
        transform:translateY(0%);
        transition: all 0.7s;
    }
    .header-menu__link {
        display: block;
        padding: 10px 0;
    }
    .header-menu__item + .header-menu__item {
        margin-left: 0;
    }
    .menu__btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
    }
    .link-contact {
        display: none;
    }
    .header-title {
        margin-top: 68px;
    }
}

@media (max-width:950px){
    .signup__form {
        width: 435px;
        height: 340px;
    }
    .signup__form label {
        padding-left: 15px;
        padding-top: 20px;
    }

    .signup__form-input {
        margin-left: 15px;
    }
}


@media(max-width: 880px){
    .about__inner {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .about__question {
        font-size: 18px;
        max-width: 450px;
    }

    .howto__inner {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .signup {
        background-image: none;
        background-color: #0F264C;
    }
    .signup__inner {
        flex-direction: column;
        align-items: center;
    }
    .signup__text {
        margin-left: 0;
        padding-top: 200px;
    }
    .signup__form {
        margin-left: 0;
    }
}

@media (max-width: 524px){
    .header-top {
        margin-bottom: -40px;
    }

    .header-title {
        font-size: 65px;
    }

    .faq__inner {
        margin-bottom: 25px;
    }

    .faq__inner-subtitle {
        padding-top: 55px;
        margin-bottom: 25px;
    }

    .faq__inner-title {
        font-size: 36px;
        min-width: 350px;
    }

    .tab-title {
        font-size: 16px;
        max-width: 435px;
    }

    .tab-title:after {
        margin-left: -22px;
    }

    .panel {
        max-width: 435px;
    }
}